---
layout: landing
title: Быстрые деньги — Тренинг
permalink: /bd/
header: 
  title: "Тренинг «Быстрые деньги»"
  subtitle: "Научись зарабатывать быстро"
  background: "/images/heads-up-bg.jpg"
  buttontitle: "Записаться"
pain:
  title: "Ты хотел бы иметь своё дело, но..."
features: 
  title: "Что ты сделаешь на тренинге:"
  feature1: "Выберешь тему для заработка"
  feature2: "Создашь продающее предложение"
  feature3: "Найдёшь первых клиентов"
author: 
  title: "Автор курса"
  name: "Николай Воробьев"
  photo: "/images/nickvorobiov.jpg"
  text: |
    Ведущий тренер компании ПроРеальность

    Специалист по созданию прорывных результатов

    Автор 4 книг и 15 тренингов о мотивации, уверенности, бизнесе, продажах и личной эффективности.

    Провёл тренинги более чем в 20 городах России и Европы

    Владелец 4 компаний

    Тренер и коуч с 13-летним опытом

pricing:
  - 
    name: "Базовый"
    price: "159"
    href: "http://money.prorealnost.com/shot/35"
    features: 
      - "Полноценное участие в курсе"
      - "Обратная связь от тренера"
      - "Комплект рабочих материалов"
  - 
    name: "Персональный"
    price: "199"
    href: "http://money.prorealnost.com/shot/41"
    features: 
      - "Полноценное участие в курсе"
      - "Обратная связь от тренера"
      - "Комплект рабочих материалов"
      - "Индивидуальное сопровождение персонального куратора"
      - "Групповые занятия с куратором"
  - 
    name: "VIP"
    price: "2000"
    href: "http://money.prorealnost.com/shot/47"
    features: 
      - "Все аудио, видео и рабочие материалы курса"
      - "Личный коучинг с Николаем Воробьёвым в течение месяца"
      - "Полный комплект книг, аудио и видео курсов Николая Воробьёва"

---

{% include sections/header.html header=page.header bg="bg-primary" %}

<div class="section">
  <div class="container text-center">
    <iframe width="853" height="480" src="//www.youtube.com/embed/Q78qqIh-S6c?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="section bg-clouds">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <h1>Тебе хотелось бы иметь своё дело, но...</h1>
      </div>
      <div class="col-sm-6 col-md-7 col-md-offset-1">
        <p class="lead">На чём зарабатывать?</p>

        <ul>
          <li>Что предлагать?</li>
          <li>Как не рисковать?</li>
          <li>Как стартовать без стартового капитала?</li>
        </ul>

        <p class="lead">Как найти клиентов?</p>

        <ul>
          <li>Где их искать?</li>
          <li>Как предложить так, чтобы согласились?</li>
          <li>Что если не будут покупать?</li>
        </ul>

        <p class="lead">Как точно знать, что делать?</p>

        <ul>
          <li>Как не ошибиться?</li>
          <li>Где взять поддержку?</li>
          <li>Как сделать так, чтобы точно получилось?</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% include sections/features.html features=page.features bg="" %}
{% include sections/author.html author=page.author title='Кто ведёт программу' bg="bg-clouds" %}
<a id="pricing"></a>
{% include sections/pricing.html pricing=page.pricing bg="" %}
